name: Polka Codes Remote Runner

on:
  repository_dispatch:
    types: [trigger_remote_runner]

permissions:
  id-token: write
  contents: read

concurrency:
  group: runner-${{ github.event.client_payload.taskId }}

jobs:
  handle:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Set up Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Install dependencies
        run: bun install

      - name: Run
        uses: polka-codes/action@master
        with:
          runner_payload: ${{ toJson(github.event.client_payload) }}

